[colors]
# Base16 Molokai
# Scheme author: Iterm2B24
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #a1a1a1
foreground_bold     = #a1a1a1
cursor              = #a1a1a1
cursor_foreground   = #121212
background          = #121212

# 16 color space

# Black, Gray, Silver, White
color0  = #121212
color8  = #6e6e6e
color7  = #a1a1a1
color15 = #ffffff

# Red
color1  = #fa2573
color9  = #fa2573

# Green
color2  = #97e123
color10 = #97e123

# Yellow
color3  = #00afff
color11 = #00afff

# Blue
color4  = #0f7fcf
color12 = #0f7fcf

# Purple
color5  = #8700ff
color13 = #8700ff

# Teal
color6  = #42a7cf
color14 = #42a7cf

# Extra colors
color16 = #dfd460
color17 = #7d1239
color18 = #121212
color19 = #555555
color20 = #888888
color21 = #bbbbbb
