# Base16 Molokai
# Author: Iterm2B24

set default-bg                  "#121212"
set default-fg                  "#121212"

set statusbar-fg                "#888888"
set statusbar-bg                "#555555"

set inputbar-bg                 "#121212"
set inputbar-fg                 "#ffffff"

set notification-bg             "#121212"
set notification-fg             "#ffffff"

set notification-error-bg       "#121212"
set notification-error-fg       "#fa2573"

set notification-warning-bg     "#121212"
set notification-warning-fg     "#fa2573"

set highlight-color             "#00afff"
set highlight-active-color      "#0f7fcf"

set completion-bg               "#121212"
set completion-fg               "#0f7fcf"

set completion-highlight-fg     "#ffffff"
set completion-highlight-bg     "#0f7fcf"

set recolor-lightcolor          "#121212"
set recolor-darkcolor           "#bbbbbb"
