! Base16 Molokai
! Author: Iterm2B24

! base00: #121212
! base01: #121212
! base02: #555555
! base03: #6e6e6e
! base04: #888888
! base05: #a1a1a1
! base06: #bbbbbb
! base07: #ffffff
! base08: #fa2573
! base09: #dfd460
! base0A: #00afff
! base0B: #97e123
! base0C: #42a7cf
! base0D: #0f7fcf
! base0E: #8700ff
! base0F: #7d1239

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #121212, #121212, #121212

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #121212, #a1a1a1, #121212, #121212, #ffffff
rofi.color-active:  #121212, #0f7fcf, #121212, #121212, #0f7fcf
rofi.color-urgent:  #121212, #fa2573, #121212, #121212, #fa2573

! Set the desired separator style
rofi.separator-style: solid
